@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");

body {
  margin: 0;
  background-color: white;
  font-family: "Kanit", sans-serif;
}

.history-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAE8;
  padding: 0 16px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}

.history-logo {
  width: 100px;
}

.book-button {
  background: #007642;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.book-button:hover {
  background: #015a31;
}

.history-title {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 20px 8px;
  color: #111;
}

.booking-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px 20px;
  max-height: 70vh;
}

.booking-card {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-info div {
  font-size: 14px;
  color: #333;
}

.booking-date {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  color: #444;
}

.right-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.status-icon-img {
  width: 48px; /* adjust size as needed */
  height: 48px;
  margin-bottom: 4px;
}

.status-text.green {
  color: #156a42;
  font-weight: bold;
  font-size: 16px;
}

.status-text.red {
  color: #d00000;
  font-weight: 600;
}

.cancelled-button {
  background: #DD5456;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  font-family: "Kanit", sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.cancelled-button:hover {
  background: #B44446;
}

.status-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-text.gray {
  color: #555;
  font-weight: 500;
  font-size: 16px;
  margin-top: 4px;
}

.waitlist-note {
  color: #F6855C;
  font-size: 15px;
  margin-top: 4px;
}




  

  
  